.input-tag {
  border-radius: 0.25rem;
  border: 1px solid rgba(51, 51, 51, 0.30);
  background: #FFF;
  width: 44.9375rem;
  height: 3rem;
  flex-shrink: 0;
}

.input {
  border: 0;
  outline: 0;
  background-color: rgb(198, 198, 198);
  width: 100px;
}

.input:focus {
  outline: none;
}

.item_text {
  padding: 0.25rem 0.5rem !important;
  align-items: center !important;
  border-radius: 0.4375rem !important;
  background: var(--Color-Text-en-15, rgba(0, 0, 0, 0.15));
}

.quill {
  margin-top: 1rem;
  height: 20rem;
  width: auto;
  align-self: stretch;
  border-radius: 1rem;
  margin-bottom: 4.5rem;
}

.box_court {
  display: flex;
  width: 15.625rem;
  height: 15.625rem;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1rem;
  border: 0.5px solid rgba(51, 51, 51, 0.30);
  background: #FFF;
}

.image_court {
  width: 15.625rem !important;
  height: 15.625rem !important;
  border-radius: 1rem !important;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat !important;
}

.badge {
  display: flex;
  width: 8.6875rem;
  padding: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.25rem;
  border: 0.5px solid rgba(51, 51, 51, 0.30);
  background: #FEF2F2;
}