@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2";
}

@media (min-width: 1200px) {
  html {
    font-size: 0.83334vw; /* Mặc định cho kích thước lớn */
  }
}

.font-rubik {
  font-family: "Rubik Glitch" !important;
  color: $primaryFontColor800;
}
.link-active {
  border-left: 0.1875rem solid #00423d;
  // padding-left: 4.8125rem !important;
  opacity: 0.8 !important;
  background: #dafeef !important;
  color: black !important; 
  .link-text{
    color: #00423D !important;
  }
}
