$primaryColor100: #dafeef;
$primaryColor200: #b8fadd;
$primaryColor300: #81f4c3;
$primaryColor400: #43e5a0;
$primaryColor500: #1acd81;
$primaryColor600: #0fa968;
$primaryColor700: #108554;
$primaryColor800: #126945;
$primaryColor900: #115363;

$primaryFontColor800: #0a3351;

$secondaryColor100: #e0f1fe;
$secondaryColor200: #bbe5fc;
$secondaryColor300: #7fcffa;
$secondaryColor400: #3bb8f5;
$secondaryColor500: #119fe6;
$secondaryColor600: #057fc4;
$secondaryColor700: #05659f;
$secondaryColor800: #095583;
$secondaryColor800: #095583;

$button-primary-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
$default-border-color: #d9d9d9;
$default-background-color: #fff;

$mainBackgroundColor: #f5f6f7;
$headerHeight: 5.4rem;
$sidebarWidth: 14.5rem;
$sidebarCollapse: 5.5rem;
